body{margin:0px;
background-color: black;}

.asideQuestionSection{width:300px;
height:calc(100vw - 50px);
z-index:100;
position:fixed;
background-color:#ffffff;
box-shadow:0px 0px 10px rgba(0,0,0,0.1);}